// Import fonts

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf)
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf)
}

// Variables 

$font-title: 'Roboto', sans-serif;
$font-text: 'Montserrat', sans-serif;

$site-colors: ("site-blue": #028EEF,
               "site-green" : #00CC00,
               "fa-green": #47fd2e);

// Functions

@function getrem($size_px, $context: 16px) {
    @return #{$size_px / $context}rem;
}

// Mixins 

@mixin responsive ($breakpoint) {
    @media screen and (max-width:$breakpoint) {
        @content
    }

}



body {
    margin: 0;
}

//Main Header


.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__nav {
        background-color: map-get($site-colors, "site-blue");
        width: 100%;
        height: 50px;
    }

    &__list {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__listelem {
        padding: 0 1em;
    }

    &__listlink{
        font-family: $font-title;
        text-decoration: none;
        color: white;

        &--current {
            color: map-get($site-colors, "site-green");
        }

        &:hover {
            color: map-get($site-colors, "site-green");
        }
    }
}

//main
.main {
    margin:0 15%
}

//about us
.about-us {
    &__title {
        text-align: center;
        color: map-get($site-colors, "site-green");
        font-family: $font-title;
        text-transform: uppercase;
        font-size: 1.5rem;
    }

    &__text {
        text-align: center;
        font-family: $font-text;
    }
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    align-content: space-around;
    gap: 1rem;

    margin: 5% 0;

    @include responsive(1150px) {
        grid-template-columns: 528px;
    }

    &__img {
        max-width: 80%;
        height: auto;
        margin: auto;
    }
}

// footer 

.footer {
    display: flex;
    padding: 5% 15% 3%;
    background-color: map-get($site-colors, "site-blue");
    font-family: $font-text;
    color: white;

    @include responsive(1150px) {
        flex-direction: column;
    }
}



.address {
    flex: 1;
    font-style: normal;
    text-align: center;
    margin: 0 2.5%;

    &__section-title {
        font-family: $font-title;
        font-size: getrem(28px);
        
    }

    &__fa {
        color:map-get($site-colors, "fa-green")
    }

    &__title {
        font-weight: 700;
        font-size: getrem(18px);
    }

    &__list {
        padding: 0;
        list-style-type: none;
        line-height: 1.5em;
    }
}

.user-form {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__section-title {
        font-family: $font-title;
        font-size: getrem(28px);
        text-align: center;
        justify-self: flex-start;
       
    }
    
    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__input{
        width: 100%;
        margin: 1% 0;
        padding: 4% 1%;
        resize: none;

        &--name {
            width: 46%;
        }

        &--submit {
            align-self: flex-start;
            justify-self: center;
            width: 20%;
            font-family: $font-text;
            -webkit-appearance: none;
            border: none;
            font-weight: 700;
            padding: 1em 2em;
            border-radius: 5px;

            &:hover {
                box-shadow: 0px 0px 5px white;
            }
        }
    }

}