@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  width: 100vw;
  position: relative;
}

.whatsapp {
  position: fixed;
  bottom: 2%;
  left: 1%;
}

.modal {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal__content {
  background-color: #028EEF;
  margin: 15% auto;
  width: 80%;
  font-family: "Montserrat", sans-serif;
  padding: .8%;
}

.modal__title {
  color: #00CC00;
  font-family: "Roboto", sans-serif;
}

.modal__text {
  color: white;
}

.modal__text--em {
  font-weight: bold;
  color: #00CC00;
  font-style: normal;
}

.modal__text--bottom {
  font-weight: bold;
}

.modal__close {
  color: #aaa;
  float: right;
  font-size: 2.2rem;
  font-weight: bold;
}

.modal__close:hover, .modal__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header___logo {
  display: none;
}

.header__nav {
  background-color: #028EEF;
  width: 100%;
  height: 50px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__listelem {
  padding: 0 1em;
}

.header__listlink {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 530px) {
  .header__listlink {
    font-size: 0.8rem;
  }
}

.header__listlink--current {
  color: #00CC00;
}

.header__listlink:hover {
  color: #00CC00;
}

.main {
  margin: 0 15%;
}

.carousel {
  position: relative;
}

.carousel__slides {
  display: none;
}

.carousel__slides--fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.carousel__img {
  width: 100%;
  height: 620px;
}

@media screen and (max-width: 768px) {
  .carousel__img {
    height: 280px;
  }
}

.carousel__btn-prev, .carousel__btn-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.carousel__btn-prev:hover, .carousel__btn-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel__btn-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.about-us__title {
  text-align: center;
  color: #00CC00;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
}

.about-us__text {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5rem;
}

.about-us__text--em {
  font-weight: 700;
  font-style: normal;
}

.services {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.services__desc {
  line-height: 1.5rem;
}

.services__title {
  font-family: "Roboto", sans-serif;
}

.services__list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  line-height: 1.5rem;
}

.services__list {
  padding: 0;
}

.services__list-elem {
  padding: 0;
  margin: 10% 0;
  text-align: center;
}

.img-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 1rem;
  margin: 5% 0;
}

@media screen and (max-width: 1150px) {
  .img-grid {
    -ms-grid-columns: 528px;
        grid-template-columns: 528px;
  }
}

@media screen and (max-width: 530px) {
  .img-grid {
    -ms-grid-columns: 220px;
        grid-template-columns: 220px;
  }
}

.img-grid__img {
  width: 100%;
  height: auto;
  margin: auto;
}

@media screen and (max-width: 530px) {
  .img-grid__img {
    width: 220px;
    height: auto;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 15%;
  background-color: #028EEF;
  font-family: "Montserrat", sans-serif;
  color: white;
  height: auto;
}

@media screen and (max-width: 1150px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.address {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-style: normal;
  text-align: center;
  margin: 0 2.5%;
}

.address__section-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
}

.address__fa {
  color: #47fd2e;
}

.address__title {
  font-weight: 700;
  font-size: 1.125rem;
}

.address__list {
  padding: 0;
  list-style-type: none;
  line-height: 1.5em;
}

.address__anchor {
  text-decoration: none;
  color: white;
}

.address__anchor:hover {
  text-decoration: underline;
}

.user-form {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-form__section-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
  text-align: center;
  justify-self: flex-start;
}

.user-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-form__input {
  width: 100%;
  margin: 1% 0;
  padding: 4% 1%;
  resize: none;
}

.user-form__input--name {
  width: 46%;
}

.user-form__input--submit {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 30%;
  font-family: "Montserrat", sans-serif;
  -webkit-appearance: none;
  border: none;
  font-weight: 700;
  padding: 1em 2em;
  border-radius: 5px;
}

@media screen and (max-width: 480px) {
  .user-form__input--submit {
    width: 100%;
  }
}

.user-form__input--submit:hover {
  -webkit-box-shadow: 0px 0px 5px white;
          box-shadow: 0px 0px 5px white;
}
/*# sourceMappingURL=styles.css.map */