// Import fonts

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf)
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf)
}

// Variables 

$font-title: 'Roboto', sans-serif;
$font-text: 'Montserrat', sans-serif;

$site-colors: ("site-blue": #028EEF,
               "site-green" : #00CC00,
               "fa-green": #47fd2e);

// Functions

@function getrem($size_px, $context: 16px) {
    @return #{$size_px / $context}rem;
}

// Mixins 

@mixin responsive ($breakpoint) {
    @media screen and (max-width:$breakpoint) {
        @content
    }

};


* {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: inherit;
}


body {
    margin: 0;
    width: 100vw;
    position: relative;
}

//Whatsapp box

.whatsapp {
    position: fixed;
    bottom: 1%;
    left: 1%;
    &__img {
        
    }
}

// Modal box

.modal {
    //display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    &__content {
        background-color: map-get($site-colors, "site-blue");
        margin: 15% auto;
        width: 80%;
        font-family: $font-text;
        padding: .8%;
        
    }

    &__title {
        color: map-get($site-colors, "site-green");
        font-family: $font-title;
    }

    &__text {
        color: white;

        &--em {
            font-weight: bold;
            color: map-get($site-colors, "site-green");
            font-style: normal;
        }

        &--bottom {
            font-weight: bold;
        }
    }

    &__close {
        color: #aaa;
        float: right;
        font-size: 2.2rem;
        font-weight: bold;

        &:hover, &:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }
}


//Main Header


.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__nav {
        background-color: map-get($site-colors, "site-blue");
        width: 100%;
        height: 50px;
    }

    &__list {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__listelem {
        padding: 0 1em;
    }

    &__listlink{
        font-family: $font-title;
        text-decoration: none;
        color: white;

        @include responsive(530px) {
            font-size: 0.7rem;
        }

        &--current {
            color: map-get($site-colors, "site-green");
        }

        &:hover {
            color: map-get($site-colors, "site-green");
        }
    }
}

//main
.main {
    margin:0 15%
}

// carousel

.carousel {
    position: relative;

    &__slides {
        display: none;

        &--fade {
            animation-name: fade;
            animation-duration: 1.5s;

            @keyframes fade {
                from {opacity: .4}
                to {opacity: 1}
            }
        }
    }

    &__img {
        width: 100%;
        height: 620px;

        @include responsive(768px) {
            height: 280px;
        }
    }

    &__btn-prev, &__btn-next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        color: white;
        font-weight: bold;
        font-size: 1.8rem;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        
        &:hover {
            background-color: rgba(0,0,0,0.8);
        }
    }

    &__btn-next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
}

//about us
.about-us {
    &__title {
        text-align: center;
        color: map-get($site-colors, "site-green");
        font-family: $font-title;
        text-transform: uppercase;
        font-size: 1.8rem;
    }

    &__text {
        text-align: center;
        font-family: $font-text;
        line-height: 1.5rem;

        &--em {
            font-weight: 700;
        }
    }
}


// services

.services {
    text-align: center;
    font-family: $font-text;    

    &__title {
        font-family: $font-title;
    }

    &__list-container {
        display: flex;
        justify-content: space-around;
        line-height: 1.5rem;
    }

    
    &__list {
        padding: 0;
    }

    &__list-elem {
        padding: 0;
        margin: 10% 0;
        text-align: center;
    }
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    align-content: center;
    gap: 1rem;
    margin: 5% 0;

    @include responsive(1150px) {
        grid-template-columns: 528px;
    }

    @include responsive(530px) {
        grid-template-columns: 220px;
    }

    &__img {
        width: 100%;
        height: auto;
        margin: auto;

        @include responsive(530px){
            width: 220px;
            height: auto;
        }
    }

}

// footer 

.footer {
    display: flex;
    padding: 5% 15%;
    background-color: map-get($site-colors, "site-blue");
    font-family: $font-text;
    color: white;
    height: auto;

    @include responsive(1150px) {
        flex-direction: column;
    }
}



.address {
    flex: 1;
    font-style: normal;
    text-align: center;
    margin: 0 2.5%;

    &__section-title {
        font-family: $font-title;
        font-size: getrem(28px);
        
    }

    &__fa {
        color:map-get($site-colors, "fa-green")
    }

    &__title {
        font-weight: 700;
        font-size: getrem(18px);
    }

    &__list {
        padding: 0;
        list-style-type: none;
        line-height: 1.5em;
    }
}

.user-form {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__section-title {
        font-family: $font-title;
        font-size: getrem(28px);
        text-align: center;
        justify-self: flex-start;
       
    }
    
    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__input{
        width: 100%;
        margin: 1% 0;
        padding: 4% 1%;
        resize: none;

        &--name {
            width: 46%;
        }

        &--submit {
            align-self: flex-start;
            justify-self: center;
            width: 30%;
            font-family: $font-text;
            -webkit-appearance: none;
            border: none;
            font-weight: 700;
            padding: 1em 2em;
            border-radius: 5px;

            @include responsive(480px) {
                width: 100%;
            }

            &:hover {
                box-shadow: 0px 0px 5px white;
            }
        }
    }

}