@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

body {
  margin: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  background-color: #028EEF;
  width: 100%;
  height: 50px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__listelem {
  padding: 0 1em;
}

.header__listlink {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: white;
}

.header__listlink--current {
  color: #00CC00;
}

.header__listlink:hover {
  color: #00CC00;
}

.main {
  margin: 0 15%;
}

.about-us__title {
  text-align: center;
  color: #00CC00;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.about-us__text {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.img-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  gap: 1rem;
  margin: 5% 0;
}

@media screen and (max-width: 1150px) {
  .img-grid {
    -ms-grid-columns: 528px;
        grid-template-columns: 528px;
  }
}

.img-grid__img {
  max-width: 80%;
  height: auto;
  margin: auto;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 15% 3%;
  background-color: #028EEF;
  font-family: "Montserrat", sans-serif;
  color: white;
}

@media screen and (max-width: 1150px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.address {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-style: normal;
  text-align: center;
  margin: 0 2.5%;
}

.address__section-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
}

.address__fa {
  color: #47fd2e;
}

.address__title {
  font-weight: 700;
  font-size: 1.125rem;
}

.address__list {
  padding: 0;
  list-style-type: none;
  line-height: 1.5em;
}

.user-form {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-form__section-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
  text-align: center;
  justify-self: flex-start;
}

.user-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-form__input {
  width: 100%;
  margin: 1% 0;
  padding: 4% 1%;
  resize: none;
}

.user-form__input--name {
  width: 46%;
}

.user-form__input--submit {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 20%;
  font-family: "Montserrat", sans-serif;
  -webkit-appearance: none;
  border: none;
  font-weight: 700;
  padding: 1em 2em;
  border-radius: 5px;
}

.user-form__input--submit:hover {
  -webkit-box-shadow: 0px 0px 5px white;
          box-shadow: 0px 0px 5px white;
}
/*# sourceMappingURL=styles.css.map */