// Import fonts

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf)
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf)
}

// Variables 

$font-title: 'Roboto', sans-serif;
$font-text: 'Montserrat', sans-serif;

$site-colors: ("site-blue": #028EEF, "site-green" : #00CC00);

// Globals

body {
    margin: 0;
}

//Main Header


.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__nav {
        background-color: map-get($site-colors, "site-blue");
        width: 100%;
        height: 50px;
    }

    &__list {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__listelem {
        padding: 0 1em;
    }

    &__listlink{
        font-family: $font-title;
        text-decoration: none;
        color: white;

        &--current {
            color: map-get($site-colors, "site-green");
        }

        &:hover {
            color: map-get($site-colors, "site-green");
        }
    }
}

//main
.main {
    margin:0 15%
}

//about us
.about-us {
    &__title {
        text-align: center;
        color: map-get($site-colors, "site-green");
        font-family: $font-title;
        text-transform: uppercase;
        font-size: 24;
    }

    &__text {
        text-align: center;
        font-family: $font-text;
    }
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

    &__img {
        max-width: 80%;
        height: auto;
        align-self: center;
        margin: auto;
    }
}